@charset "utf-8";
/* CSS Document */

body {font-family:Lucida Sans Unicode, Lucida Grande, sans-serif; font-size:12px; color:#000;}

/* Anchors
---------------------------------------------------*/
h1 {}
h2 {}
h3 {}
p {margin:0 0 10px 0; line-height:16px; font-size:12px;}
a:focus { outline:none;}
a{}
a:hover {}

/* Wrapper
---------------------------------------------------*/
#wrapper {}

/* Large desktop */
@media (min-width: 1200px) {
	
	.horizontal
	{display: none;}
	.misionx {display: none;}
}
 
/* Portrait tablet to lagndscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	
    .img01
	{display: none;}
	.img03
	{display: none;}
	.vertical
	{display: none;}	
	.misionx {display: none;}
	
	
	
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	
	.img01
	{display: none;}
	.img02
	{display: none;}
	.img03
	{display: none;}
	.img04
	{display: none;}
	.vertical
	{display: none;}
	.nav {
		display: none;
	}
	.bloqueb {
    top: 3%!important;
    left: 80%!important;
    position: absolute;
	}
	
	.bloqueb li{font-size: 7px!important;}
	
	.bloquea {
    top: 3%!important;
    left: 5%!important;
    position: absolute;
		font-size: 8px!important;
		}
	
	.bloquea li{font-size: 7px!important;}
	
	.bloquec {
    top: 80%!important;
    left: 5%!important;
		font-size: 6px!important;
    position: absolute;
}
	.bloquec li{font-size: 7px!important;}
	
	
	.misionx {display: none;}
	
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
	
	.img01
	{display: none;}
	.img02
	{display: none;}
	.img03
	{display: none;}
	.img04
	{display: none;}
	.vertical
	{display: none;}
	.nav {
	display: none;
	}
	.misionx2 {display: none;}
	
}

/* Footer
---------------------------------------------------*/
#footer {}

/* start hover effect
---------------------------------------------------*/
.trans {
-webkit-transition: all 0.3s ease 0s; 
-o-transition: all 0.3s ease 0s; 	
transition: all 0.3s ease 0s;
}

/*rotate*/
.rotate{
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.rotate:hover {
  -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
       -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}
li.active a img.rotate {
  -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
       -o-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
/*rotate*/

/*expand*/
.expand
{
	-webkit-transition:all 100ms;
	-o-transition:all 100ms;
	transition:all 100ms;
}

.expand:hover, .circle.active
{
-webkit-transform:scale(1.09, 1.09);
-o-transform:scale(1.09, 1.09);
transform:scale(1.09, 1.09);
}
/*expand*/

/*opacity*/
.opacity{
opacity: 1;
-webkit-transition: opacity;
-webkit-transition-timing-function: ease-out;
-webkit-transition-duration: 250ms;
-moz-transition: opacity;
-moz-transition-timing-function: ease-out;
-moz-transition-duration: 250ms;
}
.opacity:hover{
opacity: 0.8;
-webkit-transition: opacity;
-webkit-transition-timing-function: ease-out;
-webkit-transition-duration: 250ms;
-moz-transition: opacity;
-moz-transition-timing-function: ease-out;
-moz-transition-duration: 250ms;
}
/*opacity*/
/*end hover effect*/


/* CLEARING
---------------------------------------------------*/
.clearfix:after {content: "."; display:block; height: 0; clear: both; visibility: hidden;}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

.clear {clear: both;}


/* CUSTOMER
---------------------------------------------------*/

.c_center
{
	margin:auto;
	text-align:center;
}

.head
{
	margin-top: -10px!important;
}

.head2
{
	margin-top: -20px!important;
}

.line
{
	margin-top: -355px!important;
	position: relative;
}

.header
{
	background-image: url(../images/banners/Foto-Heather.jpg);
	height: 700px;
}

.bg_gray
{
	background-color: #e7e7e7;
	height: 100px;
}

.bg_red
{
	background-color: #ea0a2a;
	height: 55px;
}

.bg_header
{
	background: url(../images/banners/bg_header.png) no-repeat center center;
	
}

.bg_section02
{
	
}

.txt01
{
	float: right;
	margin-right: 15px;
}

.txt02
{
	float: left;
	margin-right: 15px;
}

.leftd
{
	float: left;
}

.rightd
{
	float: right;
}

.bloque01
{
	padding: 0px 50px 0px 40px!important;
    text-align: justify;
}

.bloque02
{
	padding: 10px 10px 5px 10px!important;
    text-align: justify;
}

.parrafo
{
	font-size: 18px!important;
	line-height: 1;
}

.break
{
	margin-top: 20px!important;
	margin-bottom: 40px!important;
}

.bloquea
{
    top: 20%;
    left: 65%;
    position: absolute;
}

.bloqueb
{
    top: 20%;
    left: 22%;
    position: absolute;
}

.bloquec
{
    top: 70%;
    left: 22%;
    position: absolute;
}

#procesod
{
 margin-bottom: 100px;
}

#procesod2
{
 margin-bottom: 100px;
}

.podran
{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 22px;
	font-size: 18px;
	
}

.ofrecemos
{
    margin-top: 40px;
    margin-bottom: 40px;
}


#program
{
	margin-top: 100px;
	margin-bottom: 100px;
}

.program p
{
	font-size: 18px!important;
	line-height: 1;
	text-align: justify;
}

.puntos p
{
	font-size: 18px!important;
	line-height: 1;
}


.nav {
  position: fixed; /*left: 50%;*/
  width: 100%;
  top: 20px;
  z-index: 9;
  padding-left: 10px;
}

.nav a {
  padding: 7px 20px;
  border-radius: 7px;
  margin-right: 10px;
  background: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  text-decoration: none;
  color: black;
  font-family: sans-serif, arial;
  font-weight: 100;
}

.nav a.active {
  background: rgba(234, 10, 42);
  color: white;
}

.nav a:hover { background: rgba(234, 10, 42);
color: white;}

.text-wr {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#section1 {

}

#section2 {
}

#section3 {
	margin-top: 100px;
	margin-bottom: 100px;
	font-size: 18px;
	padding-left: 10%;
}

#section4 {

}

.img01
{
position: relative;
float: left;
margin-top: -150px;
	}
.img02
{
position: relative;
float: right;
margin-top: -150px;
	}

.img03
{
position: relative;
float: right;
margin-top: -530px;
}

.horizontal
{
	margin-top: 20px;
	margin-bottom: 20px;
	
}

.asignara p
{
	line-height: 1;
	padding-right: 80px;
	
}

.asignara2 p
{
float: right;
font-size: 18px; 
line-height: 1; 
padding-right: 80px;
}
